
<form class="container main form-article" name="articleForm" ng-controller="ArticleEditorCtrl">
  <div class="alert alert-dismissable" ng-class="{'alert-success':message.success,'alert-danger':!message.success}" ng-show="message" ng-controller="MessageCtrl">
      <button type="button" class="close" ng-click="closeMsg()">&times;</button>
      <strong>{{ message.msg }}</strong>
    </div>

  <div class="input-article">
    <ul id="myTab" class="nav nav-tabs">
      <li class="active"><a href="#markdown" target="_self" data-toggle="tab">Markdown</a></li>
      <li class=""><a href="#profile" target="_self" data-toggle="tab">Profile</a></li>
      <div class="navbar-form navbar-left form-horizontal">
        <div class="form-group">
          <input class="form-control" name="title" type="text" placeholder="Title" ng-model="article.title" required>
          <input class="form-control" name="alias" type="text" placeholder="Alias" ng-model="article.alias" required>
        </div>
      </div>
      <div class="navbar-form navbar-right">
        <input type="file" style="display: none;" id="file" ng-file-select="onFileSelect($files)"></input>
        <button class="btn btn-success" ng-click="openFileForm()">Upload Image</button>
        <button type="submit" class="btn btn-primary" ng-click="saveArticle(next)">Save</button>
      </div>
    </ul>

    <div id="myTabContent" class="tab-content">
      <div class="markdown tab-pane fade active in" id="markdown">
        <textarea class="mdEditor col-md-6 form-control" name="mdContent" oninput="this.editor.update()" id="editor" ng-model="article.mdContent" required></textarea>
        <div class="mdPreview col-md-6" id="preview"></div>
        <script src="../bower_components/marked/lib/marked.js"></script>
        <script>
          function Editor(input, preview) {
            this.update = function () {
              preview.innerHTML = marked(input.value);
            };
            input.editor = this;
            this.update();
          }
          var $ = function (id) { return document.getElementById(id); };
          new Editor($("editor"), $("preview"));
        </script>
      </div>
      <div class="tab-pane fade main" id="profile">
        <div class="form-horizontal col-offset-md-2" name="articleForm" ng-init="article.hidden = false">
          <div class="form-group">
            <label for="date" class="col-sm-2 control-label">Create Date</label>
            <div class="col-sm-5" id="date">
              <input class="form-control" name="createDate" type="date" ng-model="article.createDate" value="{{ article.createDate }}" required>
            </div>
          </div>

          <div class="form-group">
            <label for="date" class="col-sm-2 control-label">Modify Date</label>
            <div class="col-sm-5" id="date">
              <input class="form-control" name="modifyDate" type="date" ng-model="article.modifyDate" value="{{ article.modifyDate }}" required>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Tags</label>
            <div class="col-sm-5">
              <label class="checkbox-inline" ng-repeat="tag in tags" ng-controller="TagCtrl">
                <input type="checkbox" ng-model="tag.checked" ng-change="change()">{{ tag.name }}
              </label>
              <label class="text-inline">
                <input class="form-control" type="text" class="form-control  input-sm" placeholder="New Tag" ng-model="newTag">
              </label>
              <label class="btn-inline">
                <button type="button" class="btn btn-default btn-sm" ng-click="addTag()">Add</button>
              </label>
            </div>
          </div>

          <div class="form-group" ng-init="statuses = [{name:'Published',value:false},{name:'Unpublished',value:true}]">
            <label class="col-sm-2 control-label">Status</label>
            <div class="col-sm-5">
              <select class="form-control" ng-model="article.hidden" ng-options="status.value as status.name for status in statuses">
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="inputTitle" class="col-sm-2 control-label">Meta Keywords</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" placeholder="Meta Keywords" ng-model="article.metaKeywords">
            </div>
          </div>

          <div class="form-group">
            <label for="inputTitle" class="col-sm-2 control-label">Meta Desciption</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" placeholder="Meta Desciption" ng-model="article.metaDescription">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</form>